DBMESH_LISTEN=:6432
DBMESH_WRITER_URL=postgres://routepg:routepg@localhost:55432/demo?sslmode=disable
DBMESH_READER_URLS=postgres://routepg:routepg@localhost:55433/demo?sslmode=disable,postgres://routepg:routepg@localhost:55434/demo?sslmode=disable
